html,body{
    background-color: #fffbf7; /*  page backround color*/
    color: #5a5959; /* font color */
}

 

/* Grid setup */
.pages_container{
    display: grid;
    grid-template-areas: 
    'nav '
    'header'
    'main '
    'lower_nav';
    }

    
  
/*  Grid settings */
.upper_navbar{ grid-area: nav;}
    
.header {
    text-align: center;
    grid-area: header;
    }

.image{
    grid-area: main;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.lower_nav{
    border-top: 2px solid rgb(63, 63, 63);
    grid-area: lower_nav;
}

.contact_info{
    grid-area: main;
    text-align: center;
}





 
  

  
  
  