html,body{
    background-color: #fffbf7; /*  page backround color*/
    color: #5a5959; /* font color */

}

 
/* Grid setup */
.pages_container{
    height: 100%;
    align-content: center;  
    }
  

#pages_container{
    display: grid;
    flex-direction: column;
    grid-template-areas: 
    'Nav Nav Nav Nav Nav'
    'x x Header x x'
    'x x Main x x'
    'x x x x x'
    'Lower_Nav x x x x';
    grid-gap: 10px;
    }

/*  Grid settings */
.upper_navbar{
    grid-area: Nav;
    }

.header {
    text-align: center;
    grid-area: Header;
    }

.main_info{
    text-align: center;
    grid-area: Main;
    border-bottom: 2px solid rgb(63, 63, 63);
    align-content: center;  
    }

.lower_nav{
    grid-area: Lower_Nav;
    }

.img{
    grid-area: Main;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}





 
  

  
  
  