<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liron</title>
</head>
<body>

    <div style="margin: 10px;"> 
        <h1 id="header">Liron's home page</h1>
    </div>
    
    <img src="https://github.com/lironbdolah/Liron/blob/main/static/welcome.png?raw=true" alt="welcome">
    <p>Welcome to my website</p>
    <a href="צור קשר.html">contact</a> <! link to other page> <br><br><br><br>

    <p>Other projects:</p>
    <nav>
        <li><a href="https://github.com/lironbdolah/streetdensityai">streetdensityai</a></li>
        <li><a href="https://github.com/lironbdolah/reddify">reddify</a></li>
        <li><a href="https://github.com/lironbdolah/moviescoreai">moviescoreai</a></li>
    </nav>

</body>
</html>
</body>
</html>