<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liron</title>
</head>
<body>
    <h1 id="header">Liron's home page</h1><br>
    <img src="https://github.com/lironbdolah/Liron/blob/main/static/welcome.png?raw=true" alt="welcome">
    <p>Welcome to my website</p>
    <a href="https://github.com/lironbdolah.github.io/Liron/blob/main/templates/צור%20קשר.html">Contact</a> <! link to other page>
</body>
</html>