<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liron</title>

    <!-- css style -->
    <link rel="stylesheet" href="../static/my_style.css">

</head>

<body>
    
    <div class="pages_container">

        <!-- nav bar -->
        <nav class="navbar">
            <ul> 
                <li><a href="#">Home</a></li>
                <li><a href="צור קשר.html">Contact</a></li>    
                <li><a href="https://github.com/lironbdolah">Github</a></li>
            </ul>
        </nav>

        <!-- header -->
        <div class="header">
            <h1 id="header">Liron's home page</h1>
        </div>
            
        <!-- image -->
        <div class="image">
            <img src="https://github.com/lironbdolah/Liron/blob/main/static/welcome.png?raw=true" id="image" />
            <a href="javascript:setImageVisible('image', true)">show image</a>
            <a href="javascript:setImageVisible('image', false)">hide image</a>   
        </div>

        <!-- lower footer -->
        <div class= lower_footer>
            <p>Other projects:</p>
            <footer>
                <li><a href="https://github.com/lironbdolah/streetdensityai">streetdensityai</a></li>
                <li><a href="https://github.com/lironbdolah/reddify">reddify</a></li>
                <li><a href="https://github.com/lironbdolah/moviescoreai">moviescoreai</a></li>
            </footer>
        </div>
    </div>
   
</body>

 <!-- Js script -->
 <script src="main.js" type="text/javascript"></script>
</html>
